# ======================================================================================================================
# PostgreSQL

# Database host (need to use hostname of container if running in docker/k8s)
POSTGRES_HOST=peerly-postgres-db

# For internal access to database only need to specify one port or use host:container format
POSTGRES_PORT=5432

# The name of the user that will be created when init the database
POSTGRES_USER=username

# The user password that will be created when init the database
POSTGRES_PASSWORD=password

# The name of the database that will be created during init
POSTGRES_DB_NAME=database_name

# ======================================================================================================================
# Main App

# Host address for the application
SERVER_HOST=0.0.0.0

# Port on which the application will run
SERVER_PORT=8080

# Limit on simultaneous request processing
SERVER_CONCURRENCY=1024
